.clear {
  clear: both;
}

#teaser {
  background: #800;
  margin: 0;
  margin-bottom: 2em;
  padding: 1em 1em 1em 10%;
  color: #fff;
}

#teaser .status h1 {
  color: #fff;
}

#teaser .status ul { width: 60em; padding: 0; margin: 0; }
#teaser .status li { width: 15em; list-style-type: none; font-size: smaller; float: left; }
#teaser .status li em { display: block; font-size: larger; font-style: normal; font-weight: bold; }

