<p>The GoOSe Project communicates in many different ways. Here are the most common.</p>

<h3>The GoOSe Social Networks</h3>
<p>Check out our <a href="http://twitter.com/gooseproject">Twitter</a>, <a href="http://identi.ca/group/gooselinux">Identi.ca</a>, Facebook and G+ status updates.</p>

<h3>Planet GoOSe</h3>
<p>Read <a href="http://planet.gooseproject.org">blog posts</a> by the community. You can <a href="https://github.com/gooseproject/planet.gooseproject.org#readme">add your blog</a>, too!

<h3>Chat with the GoOSe Community</h3>
<p>GoOSe communicates in #gooseproject on <a href="irc.freenode.net">irc.freenode.net</a>. If you have never used IRC before, check out the <a href="http://www.irchelp.org/irchelp/irctutorial.html">IRC Tutorial</a> to get started or use <a href="http://webchat.freenode.net/?channels=gooseproject&uio=MTE9MzY5cf">web chat provided by FreeNode</a>.

<h3>Join the Discussion</h3>
<p>GoOSe has several mailing lists, read or sign up below:</p>
<ul>
    <li><a href="https://groups.google.com/group/goose-linux">GoOSe Development List</a>
    <li>GoOSe Announce List (not yet implemented)</a>
</ul>

<p>Use <a href="http://ask.gooseproject.org">Ask GoOSe</a> to learn about common questions and answers from the community.</p>
