      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
                  <li class="homelink"><strong><a href="http://gooseproject.org">Goose Project</a></strong></li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/community.html">Community</a></li>
            <li><a href="/download.html">Download</a></li>
            <li><a href="/help.html">Help</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </div>
      </div>
