      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li class="homelink"><strong>Goose Project</strong></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
