
<h2>Uncle Goose Wants YOU!</h2>

<p>Regardless of skill or experience everyone is welcome to join the GoOSe Project!.</p>.

<p>Joining the project is a simple matter of following a few simple steps:</p>
<ul>
<li>Join the GoOSe Project mailing list.
<li>Subscribe at <a href="https://groups.google.com/group/goose-linux">https://groups.google.com/group/goose-linux</a></li>
</li>
<li>Introduce Yourself!
<li>Email an introduction to <a href="mailto:goose-linux@googlegroups.com">goose-linux@googlegroups.com</a></li></li>
<li>Update the CONTRIB.rst file.
<li>Fork a branch of <a href="https://github.com/gooseproject/join">https://github.com/gooseproject/join</a></li>
<li>Add your information to the RST file.</li>
<li>Submit a pull request.</li></li>
<ul>
<p>Welcome Aboard!</p>
<p>See, that wasn't so bad was it?</p>
