<p><span class="gph">The GoOSe Project is</span> all about the community. We believe that an excellent enterprise operating system is built by an excellent community.</p>

<p>The community at GoOSe is what comes first. We believe a strong community provides the best opportunity for continued success. While it might be more work up front to get people going, culture and knowledge sharing are what makes GoOSe Linux unique. Following '<a href="http://www.theopensourceway.org/wiki/Main_Page">The Open Source Way</a>', we document as we go to help others grow and learn with us. GoOSe is about community, sharing, technology and passion. Join the next phase in enterprise open source, GoOSe Linux!</p>

