<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>GoOSe Project</title>
<!-- add your meta tags here -->

<link href="css/my_layout.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!-- start: skip link navigation -->
<a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
<a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
<!-- end: skip link navigation -->
<!-- start: header-->
<div id="header" role="banner">
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li class="homelink"><strong>Goose Project</strong></li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
</div>
<!-- end: header-->
<!-- start: teaser-->
<div id="teaser">
  <div class="status">
  </div>
</div>
<!-- end: teaser-->
<!-- start: main-->
<div id="main">
  <!-- start: page_margins -->
  <div class="page_margins">
    <!-- start: page -->
    <div class="page">
      {{ content }}
    </div>
    <!-- end: page -->
  </div>
  <!-- end: page_margins -->
</div>
<!-- end: main-->
<!-- start: footer-->
<div id="footer">
  Layout based on <a href="http://www.yaml.de/">YAML</a>
</div>
<!-- end: footer-->
</body>
</html>
